<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Jazz Guitarist Paper{% endblock %}</title>
  </head>
  <body>
    <header>
      <div>
        <div>
          <div>
            <h1>Jazz Guitarist Paper</h1>
          </div>
          <div>
            {% if user.is_authenticated %}
              <span>ようこそ、{{ user.username }}さん</span>
              <form method="post" action="{% url 'accounts:logout' %}">
                  {% csrf_token %}
                  <button type="submit">
                      ログアウト
                  </button>
              </form>
            {% else %}
              <a href="{% url 'accounts:login' %}">ログイン</a>
              <a href="{% url 'accounts:register' %}">新規登録</a>
            {% endif %}
          </div>
        </div>
      </div> 
    </header>
    <main>
      {% if messages %}
        <div>
          {% for message in messages %}
            <div>{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <div>
        <p>&copy; 2024 Jazz Guitarist Paper. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>